* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #eee;
}

header .jumbotron {
  background-image: url(../images/jumboClover.jpg);
  background-size: cover;
  color: #eee;
  text-align: center;
  margin-bottom: 0;
}

.menu {
  font-weight: bold;
  z-index: 10;
  background: background: rgba(13,64,1,1);
background: -moz-linear-gradient(top, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,64,1,1)), color-stop(10%, rgba(41,245,0,1)), color-stop(47%, rgba(41,245,0,1)), color-stop(89%, rgba(13,64,1,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d4001', endColorstr='#000000', GradientType=0 );
}

nav a {
  color: #000;
  margin-right: 10px;
}

nav a:hover {
  color: #eee;
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  color: #eee;
  text-align: justify;
}

div .container header {
  padding-top: 50px;
}

section {
  height: 100vh;
}

.news {
  background-image: url(../images/rock.jpg);
  background-size: cover;
}

hr {
  color: #29f500;
  background-color: #29f500;
  border-color: #29f500;
}

article h3 {
  padding: 15px 0;
}

.news footer a {
  color: #29f500;
}

.bands {
  background-image: url(../images/jessenabers.jpg);
  background-size: cover;
}

.bands .wrapper {
  display:flex;
  align-items: center;
}

.bands .skewed {
  position: relative;
  right: 20%;
  height: 260px;
  width: 350px;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  overflow: hidden;
  outline: 2px solid #29f500;
}

.bands .skewed img {
  position: absolute;
  top: 50%;
  transform: skewX(20deg) translateY(-50%);
  -webkit-transform: skewX(20deg) translateY(-50%);
  -moz-transform: skewX(20deg) translateY(-50%);
}

.bands .skewed img:hover {
  transition: 0.25s;
  transform: skewX(20deg) scale(1.4) translateY(-50%);
  -webkit-transform: skewX(20deg) scale(1.4) translateY(-50%);
  -moz-transform: skewX(20deg) scale(1.4) translateY(-50%);
}

.bands .skewed .dropkick {
  top: 55%;
  width: 130%
}

.bands .skewed .dropkick:hover {
  top: 75%;
  width: 130%
}

.bands .skewed .seaside {
  width: 125%;
}

.bands .skewed .seaside:hover {
  top: 90%;
  left: 20%;
}

.bands .skewed .rumjacks {
  width: 135%;
}

.bands .btn {
  color: #eee;
  border: 1px solid #29f500;
  margin: 30px;
  border-radius: 5px;
}

.bands .btn:hover {
  color: #29f500;
  background-color: rgba(255, 255, 255, 0.2);
  animation: shake .25s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.tours {
  background-image: url(../images/RBBus.jpg);
  background-size: cover;
}

.shop {
  background-image: url(../images/giftshop.jpg);
  background-size: cover;
}

.carousel-control-next-icon:hover {
  color: #29f500;
}

.community {
  background-image: url(../images/dropkick-murphys.jpg);
  background-size: cover;
}

.community article {
  display:flex;
}

.community article img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #29f500;
}

.community .postInfo {
  color: #29f500;
}

.socialmedia {
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(11%, rgba(13,64,1,1)), color-stop(53%, rgba(41,245,0,1)), color-stop(90%, rgba(41,245,0,1)), color-stop(100%, rgba(13,64,1,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0d4001', GradientType=0 );
}

.socialmedia .container {
  color: #666;
  display: flex;
  justify-content: space-between;
}

.socialmedia .container p {
  align-self: center;
  margin: 0;
}

.socialmedia a {
  width: 30px;
}

.socialmedia img:hover {
  background-color: #eee;
  border-radius: 50%;
  transform: scale(1.2);
}

.socialmedia img {
  width: 25px;
  height: 25px;
  margin: 3px 5px;
}
