* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #eee;
}

header .jumbotron {
  background-image: url(../images/jumboClover.jpg);
  background-size: cover;
  color: #eee;
  text-align: center;
  margin-bottom: 0;
}

.menu {
  font-weight: bold;
  z-index: 10;
  background: background: rgba(13,64,1,1);
background: -moz-linear-gradient(top, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,64,1,1)), color-stop(10%, rgba(41,245,0,1)), color-stop(47%, rgba(41,245,0,1)), color-stop(89%, rgba(13,64,1,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(13,64,1,1) 0%, rgba(41,245,0,1) 10%, rgba(41,245,0,1) 47%, rgba(13,64,1,1) 89%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d4001', endColorstr='#000000', GradientType=0 );
}

.menu a {
  color: #000 !important;
  margin-right: 10px;
}

.menu a:hover, .menu a:active {
  color: #eee !important;
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  color: #eee;
  text-align: justify;
}

div .container header {
  padding-top: 50px;
}

section {
  height: 100vh;
}

.news {
  background-image: url(../images/rock.jpg);
  background-size: cover;
}

hr {
  color: #29f500;
  background-color: #29f500;
  border-color: #29f500;
}

article h3 {
  padding: 15px 0;
}

.news footer a {
  color: #29f500;
}

.bands {
  background-image: url(../images/jessenabers.jpg);
  background-size: cover;
}

.bands .wrapper {
  display:flex;
  align-items: center;
}

.bands .skewed {
  position: relative;
  right: 20%;
  height: 260px;
  width: 350px;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  overflow: hidden;
  outline: 2px solid #29f500;
}

.bands .skewed img {
  position: absolute;
  top: 50%;
  transform: skewX(20deg) translateY(-50%);
  -webkit-transform: skewX(20deg) translateY(-50%);
  -moz-transform: skewX(20deg) translateY(-50%);
}

.bands .skewed img:hover {
  transition: 0.25s;
  transform: skewX(20deg) scale(1.4) translateY(-50%);
  -webkit-transform: skewX(20deg) scale(1.4) translateY(-50%);
  -moz-transform: skewX(20deg) scale(1.4) translateY(-50%);
}

.bands .skewed .dropkick {
  top: 55%;
  width: 130%
}

.bands .skewed .dropkick:hover {
  top: 75%;
  width: 130%
}

.bands .skewed .seaside {
  width: 125%;
}

.bands .skewed .seaside:hover {
  top: 90%;
  left: 20%;
}

.bands .skewed .rumjacks {
  width: 135%;
}

.come-in {
  transform: translateX(1500px);
  animation: come-in 0.5s cubic-bezier(0.25, 0.1, 0.93, 1.75) forwards;
}

.dm {
  animation-delay: 1s;
}

.sr {
  animation-delay: 1.5s;
}

.tr {
  animation-delay: 2s;
}

h3 {
  animation-delay: 2.5s;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}

.already-visible {
  transform: translateX(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateX(0) translateY(0); }
}

.bands .btn {
  color: #eee;
  border: 1px solid #29f500;
  margin: 30px;
  border-radius: 5px;
}

.bands .btn:hover {
  color: #29f500;
  background-color: rgba(255, 255, 255, 0.2);
  animation: shake .25s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.open {
  height: 100vh;
  width: 100%;
}

.tours {
  width: 100%;
  background-image: url(../images/RBBus.jpg);
  background-size: cover;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.tours .table {
  width: 100%;
}

.tours .location, .tours .city {
  vertical-align: middle;
}

.tours .date {
  width: 80px;
  height: 80px;
  margin: 5px;
  border: 1px solid #29f500;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.tours .date .day {
  text-shadow: 0 0 3px #29f500;
  font-weight: bold;
  font-size: 2.5em;
}

.tours .date .month {
  text-transform: uppercase;
  color: #29f500;
  font-size: 1em;
  margin-bottom: 5px;
}

.tours .btn {
  color: #eee;
  border: 1px solid #29f500;
  border-radius: 5px;
  margin: 25px 0;
  position: absolute;
}

.tours .btn:hover {
  color: #29f500;
  background-color: rgba(255, 255, 255, 0.2);
  animation: shake .25s;
}


.tours .sold {
  position: relative;
  top: -15px;
  z-index: 5;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

.tours .sold img {
  height: 100px;
}

.tours .sold-animation {
  animation: sold-show 0.4s forwards;
}

@keyframes sold-show {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
    transform: scale(1.2);
  }
  100% {
    visibility: visible;
    transform: scale(1);
  }
}

.tours .london {
  animation-delay: 2s;
}

.tours .rio {
  animation-delay: 2.5s;
}

.tours .poznan {
  animation-delay: 3s;
}

.shop {
  background-image: url(../images/giftshop.jpg);
  background-size: cover;
}

.shop img {
  height: 400px;
  width: 400px;
}

.shop .object {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.shop .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.shop .price {
  text-shadow: 0 0 5px #29f500;
  font-weight: bold;
  font-size: 4em;
}

.shop .btn {
  color: #eee;
  border: 1px solid #29f500;
  border-radius: 5px;
  margin: 25px 0;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.shop .btn:hover {
  color: #29f500;
  background-color: rgba(255, 255, 255, 0.2);
}

.community {
  background-image: url(../images/dropkick-murphys.jpg);
  background-size: cover;
}

.community article {
  display:flex;
}

.community article img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #29f500;
  border-radius: 5px;
}

.community .postInfo {
  color: #29f500;
}

.socialmedia {
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(11%, rgba(13,64,1,1)), color-stop(53%, rgba(41,245,0,1)), color-stop(90%, rgba(41,245,0,1)), color-stop(100%, rgba(13,64,1,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(13,64,1,1) 11%, rgba(41,245,0,1) 53%, rgba(41,245,0,1) 90%, rgba(13,64,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0d4001', GradientType=0 );
}

.socialmedia .container {
  color: #222;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.socialmedia .container p {
  align-self: center;
  margin: 0;
}

.socialmedia a {
  width: 30px;
}

.socialmedia img:hover {
  background-color: #eee;
  border-radius: 50%;
  transform: scale(1.2);
}

.socialmedia img {
  width: 25px;
  height: 25px;
  margin: 5px;
}
